:root {
    --primary-color: #0A001B;
    --secondary-color: #F0EFF4;
    --third-color: #9E829C;
    --primary-font: "Dela Gothic One", serif;
    --secondary-font: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

body {

    background: var(--primary-color);
    color: var(--secondary-color);
}

#logo img {
    width: 200px;
    height: auto;
}

header {
    position: fixed;
    width: 100%;    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    font-family: var(--primary-font);
    font-size: large;
    color: var(--secondary-color);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInEffect 2s ease-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profil-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    flex-direction: column;
}

.profil-picture {
    width: 100%;
    max-width: calc(1280px + 2rem);
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    color: var(--secondary-color);
    gap: 2rem;
    justify-content: space-between;
}

#profile img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
}

h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    margin: 20px 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: var(--secondary-font);
    font-weight: 500;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0px 20px 0px;
}

.custom-button {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    width: 225px;
    border: none;
    border-radius: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;

}

.custom-button i {
    font-size: x-large;
}

.custom-button a {
    color: var(--primary-color);
    font-size: x-large;
}

.media{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.media i{
    font-size: 2rem;
    color: var(--secondary-color);
}

footer {
    display: flex;
    justify-content: center;
}