:root {
    --primary-color: #0A001B;
    --secondary-color: #F0EFF4;
    --primary-font: "Dela Gothic One", serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

body {

    background: var(--primary-color);
    color: var(--secondary-color)
}

#logo img {
    width: 200px;
    height: auto;
}

header {
    position: fixed;
    width: 100%;    
    background: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    color: #e5e5e5;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInEffect 2s ease-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profil-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    flex-direction: column;
}

.hero-inner {
    width: 100%;
    max-width: calc(1280px + 2rem);
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255);
    gap: 2rem;
    justify-content: space-between;
}

#profile img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 20px 0;
}

h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

footer {
    display: flex;
    justify-content: center;
}